.main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-card{
    flex-basis: 450px;
    flex-shrink: 1;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 46px 0px white;
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
    padding-top: 24px;
    box-sizing: border-box;
}
.field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}
.field input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 5px;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    font-size: 16px;
}
.mat-card form{
    display: flex;
    flex-direction: column;
}
.mat-card form button{
    align-self: center;
    height: 35px;
    padding: 0 32px;
    font-size: 14px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .3s;
    outline: none;
    margin-top: 15px;
}
.mat-card form button:hover{
    background-color: rgb(2, 95, 95);
}
.mat-form-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}
h3{
    text-align: center;
}
label{
    font-weight: 500;
}